/*Maak hier jouw CSS!*/
body {
    font-size: 28px;
}

.content {
    display: grid;
    background-color: #feefdb;
    padding: 15px;
    grid-gap: 16px;
}

.a, .b, .c, .d, .e, .f {
    color: white;
    background-color: #ba3b46;
    display: grid;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 0;
}

.a {
    grid-area: a;
}
.b {
    grid-area: b;
    padding: 15px;
}
.c {
    grid-area: c;
}
.d {
    grid-area: d;
}
.e {
    grid-area: e;
}
.f {
    grid-area: f;
}
/* Mobile Screen */
@media only screen and (max-width:800px) {
    .content {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, minmax(50px, auto));
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "."
            "f";
    }
}
/* Desktop Screen */
@media only screen and (min-width:800px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px 174px 100px auto 50px;
        grid-template-areas:
            "a c c"
            "b c c"
            "b e d"
            "b e ."
            "f f f";
    }
}